.btn-actions {
    /* box-shadow: inset 0px -1px 0px rgba(168, 168, 168, 0.25); */
    padding: 1rem 0;
    position: sticky;
    bottom: 0;
    transform-origin: bottom center;
    z-index: 1;
    display: flex;
}
.btn-actions-right{
    right: 0;
    position: absolute;
}
.btn{
    padding: 10px 16px;
}
.content-tabel{
    background-color: white;
}
.content-heading{
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Gotham Rounded';
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

