<div class="container-fluid position-relative p-0">
    <div class="position-relative ">
        <input id="icon" class="btn input-search body_medium" type="texte" placeholder="Search a name, email, barcode, etc"/>
         <span  class="position-absolute"><i class="icon-close"></i></span>
      </div>
      <!-- <app-filter-data></app-filter-data> -->
    <!-- <div class="position-absolute export-fulfilled"><span
            class="text-nowrap fw-bold as-stats-label margin-right">Display fulfilled</span>
    </div> -->
    <!-- <app-ng-bootstrap-table></app-ng-bootstrap-table> -->
    <app-popup-confirmation></app-popup-confirmation>
</div>

