

@media only screen and (max-width: 1089px) {
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.input-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 55px 12px 55px;
    text-align: left;
    position: absolute;
    width: 440px;
    height: 40px;
    left: 35%;
    top: 5%;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 36px;
    background-image: url(../../../assets/icons/fe_search.png);  
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: 4px;
}
input::placeholder {
        position: static;
        width: 316px;
        height: 20px;
        left: 34px;
        top: 4px;

        font-family: 'arimamadurai-bold', sans-serif;;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

        color: #333131;
        flex: none;
        order: 1;
        align-self: flex-end;
        flex-grow: 0;
        margin: 0px 10px;
}
.input-icon {
    position: absolute;
    left: 5px; /* adjust as needed */
    top: 50%;
    transform: translateY(-50%);
  }
