
.back-layer {
    background: rgba(224, 224, 224, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
  }



.icon-close {
    top: 24px;
    right: 24px;
}

.section-overlay{
    background:rgba(0, 0, 0,0.7);
    position: fixed;
    top: var(--mainlogoheight);
    right:0;
    height: calc(100% - var(--mainlogoheight));
    width: 684px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title{
    background-color: #E0E0E0;
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'Gotham Rounded';
    font-weight: bold;
}
.section{
    position: relative;
    text-align: center;background-color: #fff;width: 545px; display: block; border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    top: 50%;
    left: 50%;
    height: auto;
    min-height: 50%;
    transform: translate(-50%, -50%);
     }
.icon-close{
    top:24px;
    right: 30px;
}
.btn{
    min-width: 164px;
    padding-top: 12px;
    padding-bottom:12px;
}
.section-btn{
    justify-content: space-around;
    display: flex;

}
.form-label{
    justify-content: left;
    display: flex;
    font-family: 'Gotham Rounded';
}
.form-group{
    display: flex;
    justify-content: left;
    padding: 3% 0;
}
.form-group span{
    flex: 0 0 auto;
    justify-content: left;
    width: 50%;
    display: flex;
}
.action-buttons {
    align-self: end;
    justify-content: center;

}
.bloc-button{
    justify-content: space-evenly;
    padding: 0 10%;
}
