:root {
    --green: #42a71e;
    --green-1: #47A62B;
    --green-medium: #A0D38F;
    --green-light: #D9EDD2;
    --red: #EB5757;
    --red-light: #F5ABAB;
    --pink:#ee0979;
    --blue-light: #e9faff;
    --blue: #007BC0;
    --grey-1: #47454B;
    --grey-2: #58585a;
    --grey-3: #868686;
    --grey-4: #C3C3C3;
    --grey-5: #E0E0E0;
    --grey-6: #F1F1F1;
    --grey-7: #F8F8F8;
    --grey-8: #e5e8e3;
    --grey-9: #5C5C5C;
    --grey-10: #BCBCBC;
    --grey-11: #F9F9F9;
    --grey-12: #E4E4E4;
    --grey-13: #BDBDBD;
}