.btn-actions {
    /* box-shadow: inset 0px -1px 0px rgba(168, 168, 168, 0.25); */
    padding: 1rem 0;
    position: sticky;
    bottom: 0;
    transform-origin: bottom center;
    z-index: 1;
    display: flex;
}
.btn-actions-right{
    right: 0;
    position: absolute;
}
.btn{
    padding: 10px 16px;
}

