<p>filter-data works!</p>
<div class="filters position-absolute">
    <div  class="subtitle">
     <h2 class ="col-8">Filter avec</h2>
    </div>

       <div class="row" v-for="(select, ind) in filterDef">
      <!-- create filter  -->
       </div>
       <div class="row buttons mb-3">
           <div class="col text-center"><button class="btn btn-link  body_regular">Annuler</button></div>
           <div class="col text-right"><button class="btn btn-dark body_medium" >OK</button></div>
       </div>
   </div>