<div *ngIf="show_popup" class ="modal">
<div class="confirmation-overlay">
    <div class="confirmation">
        <div class="confirmation-title">
            <span class="subtitle">{{title}} <i class='bx bx-x' (click)="close()"></i></span>
        </div>
        <div class="confirmation-btn">
            <button class="btn btn-outline-success body_medium" (click)="DeleteFormation()" style="margin-right: 59px">Oui, Supprimer</button>
            <button class="btn btn-outline-danger body_medium" (click)="close()" >Non , annuler</button>
        </div>
    </div>

</div>
</div>