<div  class="back-layer" >
<div class="odv container">
   
    <div class="detail-close-section d-flex align-items-center" >
        <h2 class="col-10 fs-title">Ajout Formation</h2>
        <svg class="col-2 detail-close ms-4 cursor-pointer" width="12" height="12" viewBox="0 0 14 14" fill="none" (click)="closePopup()"
            xmlns="http://www.w3.org/2000/svg" >
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.78812 0.297179C1.3976 -0.0953162 0.764438 -0.0953162 0.373917 0.297179C-0.0166053 0.689674 -0.0166053 1.32604 0.373916 1.71853L5.58834 6.9593L0.292891 12.2815C-0.0976305 12.674 -0.0976304 13.3104 0.292891 13.7029C0.683413 14.0954 1.31657 14.0954 1.7071 13.7029L7.00254 8.38065L12.293 13.6978C12.6835 14.0903 13.3166 14.0903 13.7072 13.6978C14.0977 13.3053 14.0977 12.6689 13.7072 12.2765L8.41675 6.9593L13.6261 1.72358C14.0167 1.33109 14.0167 0.694726 13.6261 0.302231C13.2356 -0.0902646 12.6025 -0.0902643 12.2119 0.302231L7.00254 5.53795L1.78812 0.297179Z"
                fill="black" />
        </svg>
    </div>
 <div class="row"> 
    <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="InformationDetails" id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li [ngClass]="step==1 ? 'active ' : 'inactive'" (click) = "gotostep(1)">Information</li>
                <li [ngClass]="step==2 ? 'active' : 'inactive'" (click) = "gotostep(2)">Description</li>
                <li [ngClass]="step==3 ? 'active' : 'inactive'" (click) = "gotostep(3)">Programme</li>
            </ul>
            <!-- fieldsets -->
            <fieldset  *ngIf="step == 1" >
                <div class="row">
                <div class="col-6 column">
                    <label class="control-label" for="sName">Title : *</label>
                    <div class="d-flex">
                       <input type="text" formControlName="title"  [ngClass]="{ 'is-invalid': information_step && information.title.errors }" placeholder="Entrez Titre de Formation"/>
                       <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                    </div>
                    <div *ngIf="information_step && InformationDetails.controls.title.errors">
                        <div class="required" *ngIf="information.title.errors?.required">Title is required</div>
                    </div>
                    <label class="control-label" for="sName">Durée :  *</label>
                    <div class="d-flex">
                        <input type="text" formControlName="duree" name="duree" placeholder="Entrez Durée  de Formation"/>
                        <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                     </div>
                    <div *ngIf="information_step && InformationDetails.controls.duree.errors">
                    <div class="required" *ngIf="information.duree.errors?.required">Durée is required</div>
                </div>
                <label class="control-label" for="sName">Category : *</label>
                    
                    <div class="d-flex">
                        <input type="text" formControlName="category" name="category" placeholder="Selectionner category de Formation"/>
                        <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                     </div>
                    <div *ngIf="information_step && InformationDetails.controls.category.errors">
                    <div class="required" *ngIf="information.category.errors?.required">Category is required</div>
                </div>
                    
                </div>
                <div class="col-6 column">
                    
                        <label class="control-label" for="sName">Prix : *</label>
                        
                        <div class="d-flex">
                            <input type="text" formControlName="prix" name="prix" placeholder="Entrez Prix de Formation"/>
                            <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                         </div>
                        <div *ngIf="information_step && InformationDetails.controls.prix.errors">
                        <div class="required" *ngIf="information.prix.errors?.required">Prix is required</div>
                        </div>
                  
                    
                    <label class="control-label" for="sName">Niveau : *</label>
                    <div class="d-flex">
                        <input type="text" formControlName="niveau"  [ngClass]="{ 'is-invalid': information_step && information.niveau.errors }" placeholder="Choisir niveau de Formation"/>
                        <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                     </div>
                   
                    <div *ngIf="information_step && InformationDetails.controls.niveau.errors">
                        <div class="required" *ngIf="information.niveau.errors?.required">Niveau is required</div>
                    </div>
                   
                </div> 
                
            </div>   
            </fieldset>
            <input *ngIf="step == 1" (click)="next()" type="button" name="Suivant" class="next action-button" value="Suivant"/>
        </form>
         <form [formGroup]="DescriptionDetails" id="msform">
            <fieldset *ngIf="step == 2" >
                <app-rich-text-editor></app-rich-text-editor>
                <label class="control-label" for="sName">Description : *</label>
                <div class="d-flex">
                    <textarea rows="5" cols="5" formControlName="description"  placeholder="description"></textarea>
                    <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                 </div>
                
                <div *ngIf="description_step && DescriptionDetails.controls.description.errors">
                    <div class="required" *ngIf="description.description.errors?.required">Description is required</div>
                </div>
                <label class="control-label" for="sName">Population Cible : *</label>
                <div class="d-flex">
                    <textarea rows="5" cols="5" formControlName="population"  placeholder="population"></textarea>
                    <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                 </div>
                
                <div *ngIf="description_step && DescriptionDetails.controls.population.errors">
                    <div class="required" *ngIf="description.population.errors?.required">Population Cible is required</div>
                </div>
                <label class="control-label" for="sName">Prerequis : *</label>
                <div class="d-flex">
                    <textarea rows="5" cols="5" formControlName="prerequis"  placeholder="prerequis"></textarea>
                    <img class="info-champ" src="assets\icons\circle-exclamation.png" />
                 </div>
                
                <div *ngIf="description_step && DescriptionDetails.controls.prerequis.errors">
                    <div class="required"  *ngIf="description.prerequis.errors?.required">Prerequis is required</div>
                </div>
                
            </fieldset>
            <div class="action-button-section" *ngIf="step == 2">
                    <input (click)="previous()" type="button" name="Retour" class="previous action-button-previous" value="Retour"/>
                    <input  (click)="next()" type="button" name="Suivant" class="next action-button" value="Suivant"/>
            </div>
        </form>
         <form [formGroup]="ProgrammeDetails" id="msform">
            <fieldset *ngIf="step == 3">
                <div class="d-flex" style="justify-content: space-between;">
                <label class="control-label" for="sName">Programme : *</label>
                <div  class="btn-actions-right" >  
                    <button class="btn btn-outline-dark body_medium" style="margin-right: 10px;" > <i class='bx bx-plus' ></i> Ajouter module </button>
                </div>
            </div>
                
            </fieldset>
            <div class="action-button-section" *ngIf="step == 3">
                <input (click)="previous()" type="button" name="Retour" class="previous action-button-previous" value="Retour"/>
                <input (click)="submit()"type="submit" name="Valider" class="submit action-button" value="Valider"/>
        </div>
        </form>
    </div>
 </div>
 </div>
 </div>