<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>

    <nav class="sidebar-wrapper" [class.sidebar-close]="!openSidebar">
      <div class="sidebar-brand">
        <a href="#">NS2 Technology</a>
        <div id="close-sidebar"><i class="fas fa-times"></i></div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic" style="color:#fff;">
          <img src="assets\images\Profile Picture.png" />
        </div>
        <div class="user-info">
          <span class="user-name"  style="color:transparent;"> <strong>Admin 1</strong></span>
          <span class="user-name" style="color:#fff;">Admin 1</span>
        </div>
      </div>

      <ul class="nav-links" id="nav-links">
        <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
          <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
            <a [routerLink]="[item.link]">
              <i [class]="item.icon"></i>
              <span class="link_name">{{item.link_name}}</span>
            </a>
          </div>
          <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
            <a>
              <i [class]="item.icon"></i>
              <span class="link_name">{{item.link_name}}</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
            <li><a class="link_name">{{item.link_name}}</a></li>
            <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
              <a [routerLink]="[item_sub.link]">{{item_sub.link_name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <section class="home-section">
      <div class="home-view">
        <router-outlet></router-outlet>
      </div>
    </section>
</div>
